
@font-face {
    font-family: "Asenica Trial";
    src: url('fonts/ArsenicaTrial-Bold_copy.ttf');
    src: url('fonts/ArsenicaTrial-Bold_copy.ttf') format('truetype'),
    url('fonts/ArsenicaTrial-BoldItalic_copy.ttf') format('truetype'),
    url('fonts/ArsenicaTrial-Demibold_copy.ttf') format('truetype');

}

body 
{background: black;
}

title 
{color: white;
}

header 
{display: flex;
align-items: center;
text-align: center;
margin-left: auto;
margin-right: auto;
justify-content: center;
}

.hoverLarger
{
    position:relative;
    display: inline-block;
}

.topUl 
{color: white; 
text-align: center;
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 0px; /* inspector tool pointed out 40px here but i didnt have this code before so i copy and pasted and did 0...
where did this come from?*/
}
 
.content 
{width: 70%; 
margin:0 auto;
display: flex;
justify-content: center;
}
.aboutMeLonelySection
{
    width: 70%; 
    margin:0 auto;
}

#first
{
    margin-top: 48px;
    margin-bottom: -44px;
    line-height: 1.5;
    position:relative;
    font-size: 150px;
}

#middle
{
    color: gray;
    font-size: 100px;
    margin-left: 139px;
    line-height: .5;
    position: relative;
}

#last
{
    margin-top: -28px;
    margin-bottom: 10px;
    position: relative;
    font-size: 150px;
}

#fullName
{
    font-size: 100px;
    position: absolute;
    margin-left: -33px;
    margin-top: -52px;
    color: white;
    justify-content: center;
    font-family: "Arsenica Trial";

}


.picOme 
{     width: 400px;
    float: left;
    margin-left: 593px;
    margin-top: -100px;
    margin-bottom: 20px;
    margin-right: -54px;
    justify-content: center;
}


p 
{color: white; 
float: left;
}

.inline-block 
{display: inline-block; 
vertical-align: top;
text-align: center;
}

.logo 
{width: 23%; 
padding: 1%;
}

nav 
{width: 100%; 
padding: 1%; 
text-align: center; 
}

/*ul 
{width: 60%; 
display: inline; 
text-align: center;
align-items: center;
}*/


.heroImg 
{min-height: calc(20vh); /* this is what fixed my footer issue??*/
padding: 25px;
/*display: flex;
flex-direction: row;*/
}

/* SKILLS SECTION*/

#skillsSec
{
    color: white;
    margin-left: 50px;
}

.flexContainer 
{ display:flex ;
flex-direction: row;
}

h3
{ color: white;
}

.divInSkills
{ width: 33%;
margin: 0px 50px 0px 50px;
border: white 2px; /* why not wokring?*/
text-align: center;
/*flex-direction: column; 
display: flex;
justify-content: center;
*/
}

h4 { color: white}

/* WORK SECTION */

.workTitle {
    grid-template-areas: "title";
    color: white;
    margin-left: 50px;
}

.workPics {
width: 300px;
}

.workGrid
{ display: grid; 
grid-template-columns: 1fr 2fr;
grid-template-rows: 2fr 2fr 2fr 2fr /*2fr 1fr*/;
grid-template-areas: 
"title title title title"
" image text "
" image text "
" image text "
" image text "
/*"viewAll";
gap: 20px;
align-items: center;*/
}

#img1grid
{ grid-template-areas: "image";
    margin-left: 80px;
    padding-left: 85px;
}

#text1grid
{grid-template-areas: "text";
    margin-right: 80px;
    padding-left: 30px;
  
}

#img2grid
{grid-template-areas: "image";
   margin-left: 80px;
   padding-left: 85px;
}

#text2grid
{grid-template-areas: "text";
    margin-right: 80px;
    padding-left: 30px;
}

#img3grid
{grid-template-areas: "image";
    margin-left: 80px;
    padding-left: 85px;
}

#text3grid
{grid-template-areas: "text";
    margin-right: 80px;
    padding-left: 30px;
}

#img4grid
{grid-template-areas: "image";
    margin-left: 80px;
    padding-left: 85px;
}

#text4grid
{grid-template-areas: "text";
    margin-right: 80px;
    padding-left: 30px;
}

#viewAlll
{ /*grid-template-areas: "viewAll";
    margin-left: 50px;*/
    justify-content: center;
    text-align: center;
}

.projName 
{ font-size: 30px;
font-family: "Arsenica Trial";
}

/* FOOTER STARTS HERE */

footer 
{background-color: #373738; 
height: 100px;
margin: 0 0 0 0;
padding: 0 0 0 0;
align-items: center;
justify-content: center;
}

ul 
{text-align: center;
}

li 
{text-align: center; 
display: inline; 
padding-left: 10px; 
padding-right: 10px;
}

.footsie 
{ align-items: baseline;

}

.footerLists 
{display: inline-block; 
padding: 10px 75px;
display: flex;
justify-content: center;
}

/* MEDIA QUERY SECTION*/

@media only screen and (max-device-width: 600px)
{ header 
    {display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    }
    
   .logo
   {width: 45%;}



    .topUl 
    {color: white; 
    text-align: center;
    font-size: 50px;
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; /* inspector tool pointed out 40px here but i didnt have this code before so i copy and pasted and did 0...
    where did this come from?*/
    }
    
    
    
    .flexContainer 
    { display:flex ;
    flex-direction: column;}

    .placeHolder
    { width: 50%;}

    .skillTitle
    { font-size: 90px; 
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: -41px;
    margin-inline-end: 0px;}

    /* .content
    { } */
    
    .heroImg
    { min-height: calc(85vh);
        min-width: calc(100vw); /* this helped a little with centering the section but it's still wonky*/
        padding: 25px;
        justify-content: center;
        align-items: center;
    }

    .picOme
    {min-width: 716px;
        margin-left: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
    justify-content: center;}
 
    .aboutMeP
    {font-size: 40px;
        display: block;
        width: 818px;
        margin-left: -95px;
        margin-right: 10px;
        justify-content: center;
        font-size: 40px;
   /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/ }

    button { display: none;}

    

    .skillP
    { font-size: 40px;
    width: 750px;
    margin-left: 87px;}

    .divInSkills
    { width: 100%;
    margin: 0px 0px 0px 0px; /* top right bottom left */
    border: white 2px; /* why is it not wokring?*/
    text-align: center;}
    
    .workTitle
    { font-size: 50px;}

    .workGrid
   { display: grid; 
   grid-template-columns: 1fr;
   grid-template-areas: 
   "title"
   " image "
   " text "
   " image "
   " text "
   " image "
   " text "
   " image "
   " text "
   "viewAll";
    gap: 20px;
   align-items: center;
   justify-content: center;
}

.workPics 
{ min-width: 500px;
justify-content: center;}


.projName
{ font-size: 65px;
    font-family: "Arsenica Trial";
}

/*h4 { font-size: 60px;}*/

.projDesc
{ font-size: 50px;}

#img1grid
{ grid-template-areas: "image";
   /* margin-left: 80px;
    padding-left: 85px;*/}
   

#text1grid
{grid-template-areas: "text";
   /* margin-right: 80px;
    padding-left: 30px;*/
}

#img2grid
{grid-template-areas: "image";
  /* margin-left: 80px;
   padding-left: 85px;*/
}

#text2grid
{grid-template-areas: "text";
   /* margin-right: 80px;
    padding-left: 30px;*/
}

#img3grid
{grid-template-areas: "image";
    /*margin-left: 80px;
    padding-left: 85px;*/
}

#text3grid
{grid-template-areas: "text";
   /* margin-right: 80px;
    padding-left: 30px;*/
}

#img4grid
{grid-template-areas: "image";
   /* margin-left: 80px;
    padding-left: 85px;*/
}

#text4grid
{grid-template-areas: "text";
    /*margin-right: 80px;
    padding-left: 30px;*/
}

#viewAlll
{ /*grid-template-areas: "viewAll";
    margin-left: 50px;*/
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

footer 
{background-color: #373738; 
height: 275px;
margin: 0 0 0 0;
padding: 0 0 0 0;
align-items: center;
justify-content: center;
}

ul 
{text-align: center;
}

li 
{text-align: center; 
display: inline; 
padding-left: 50px; 
padding-right: 25px;
font-size: 50px;
}

.footsie 
{ align-items: baseline;

}

.footerLists 
{display: inline-block; 
padding: 50px 80px 50px 20px; 
display: flex;
justify-content: center;
}



}